<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ErotimatologioApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Αρχική Σελίδα</a
          >
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a *ifRoles='["ROLE_ADMIN","ROLE_TEACHER"]'
            class="nav-link active"
            aria-current="page"
            routerLink="/addq"
            >Προσθήκη Ερωτηματολογίου</a
          >
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a *ifRoles='["ROLE_ADMIN"]'
            class="nav-link active"
            aria-current="page"
            routerLink="/users"
            >Διαχείριση Καθηγητών</a
          >
        </li>
        <li *ngIf="isLoggedIn()"  class="nav-item">
          <a *ifRoles='["ROLE_USER"]' class="nav-link active" aria-current="page" routerLink="/responses"
            >Προβολή Απαντήσεων</a
          >  
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/profile"
            >Διαχείριση Λογαριασμού</a
          >
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/login"
            >Σύνδεση</a
          >
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/signup"
            >Εγράφη</a
          >
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            (click)="logout()"
            href="/login"
            >Αποσύνδεση</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
